<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include base-assets.html %}

  {% include preloader.html %}

  <title>{{ page.title }}</title>

  <body>
    <header>
      {% include header-logo.html %}
  	</header>
	<div class="main">
		<div class="home-body flex-direction-column">
		  <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
		  <div class="cards__container">
		    {{ content }}
		  </div>
		</div>
	</div>
	 {% include footer.html %}
  </body>

  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  <script src='/scripts/index.js'></script>

</html>
