<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include base-assets.html %}

  {% include preloader.html %}

  <title>
    {{ page.title }}
  </title>


  <header>
    {% include header-logo.html %}
    {% include header-path-item.html link='/powerbi/custom-visuals' pageName='Power BI custom visuals' %}
  </header>


  <body class="details-body">

    <div style="height: 100%;">
      {{ content }}
    </div>

  </body>


  {% include footer.html %}

</html>
