<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include base-assets.html %}

  {% include preloader.html %}

  <title>{{ page.title }}</title>

  <body>

  	<header>
      {% include header-logo.html %}
      {% include header-path-item.html link='/powerbi/custom-visuals' pageName='Power BI custom visuals' %}
    </header>


	  <div class="main">
      <div class="home-body__title">Our team has developed next Power BI custom visuals</div>
      <div class="home-body">
    	   <div class="cards__container">
      	    {{ content }}
    	   </div>
         <div class="body-separator"></div>
         <div class="contact-link-container">
           <address class="contact-link-container__link">
             For purchasing any custom visual, please contact: <a style="margin-left: 4px;" href="mailto:bi-support@saifas.org">bi-support@saifas.org</a>
           </address>
         </div>
      </div>
    </div>
    {% include footer.html %}

  </body>

</html>
