<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <meta http-equiv="Content-Type" content="application/json; charset=utf-8">
  <header>
    <a href="/">
      <img src="/assets/images/logo.png">
      <div class="logo-text">SAIFAS</div>
    </a>
  </header>
  <body class="home-body">
    <div class="home-body__title">SAIFAS Power BI solutions</div>
    <div class="cards__container">
      {{ content }}
    </div>
  </body>
  <footer>
    <address class="footer__contact-us">
      For purchasing any custom visual, please contact: <a style="margin-left: 4px;" href="mailto:bi-support@saifas.org">bi-support@saifas.org</a>
    </address>
    <div class="watermark">
      <div class="socials">
        <a target="_blank" href="https://github.com/saifas">
          <i class="fab fa-github fa-lg"></i>
        </a>
        <a target="_blank" href="https://www.facebook.com/saifascom">
          <i class="fab fa-facebook fa-lg"></i>
        </a>
        <a target="_blank" href="https://www.linkedin.com/company/saifas/">
          <i class="fab fa-linkedin fa-lg"></i>
        </a>
        <a target="_blank" href="https://twitter.com/saifascom">
          <i class="fab fa-twitter fa-lg"></i>
        </a>
      </div>
      ©SAIFAS LLC, 2021
    </div>
  </footer>
  <link rel="stylesheet" href="/assets/styles/css/index.css" />
  <link rel="stylesheet" href="/assets/styles/css/variables.css" />
  <script src="https://kit.fontawesome.com/3ddd0feda7.js" crossorigin="anonymous"></script>
</html>
