<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <link rel="stylesheet" href="/assets/styles/css/index.css" />
  <link rel="stylesheet" href="/assets/styles/css/variables.css" />
  <script src='/scripts/index.js'></script>

  <div class="preloader">
    <div class="preloader__row">
      <div class="preloader__item"></div>
      <div class="preloader__item"></div>
    </div>
  </div>

  <meta http-equiv="Content-Type" content="application/json; charset=utf-8">

  <title>SAIFAS BI | Power BI custom visual showcase sample reports</title>

  <!-- Load browser tab favicon -->

  <!--  <link rel="shortcut icon" href="/assets/images/saifas-bi-brand-logo.png" type="image/png">-->
  <!--  <link rel="shortcut icon" href="assets/images/saifas-bi-brand-logo.ico">-->
  <link rel="shortcut icon" href="assets/images/saifas-brand-theme-blue-white-logo-star.ico">

  <body>
    <header>
      <a href="/">
        <img src="/assets/images/saifas-bi-brand-logo.png">
          <div class="logo-text">SAIFAS BI</div>
      </a>
    </header>
    <div class="main">
      <div>
        <div class="cards__container">
          {{ content }}
        </div>
      </div>
    </div>
    <footer>
      <address class="footer__contact-us">
        For purchasing any custom visual, please contact: <a style="margin-left: 4px;" href="mailto:bi-support@saifas.org">bi-support@saifas.org</a>
      </address>
      <div class="watermark">
        <div class="socials">
          <a target="_blank" href="https://github.com/saifas-bi">
            <i class="fab fa-github fa-lg"></i>
          </a>
          <a target="_blank" href="https://www.facebook.com/saifascom">
            <i class="fab fa-facebook fa-lg"></i>
          </a>
          <a target="_blank" href="https://www.linkedin.com/company/saifas/">
            <i class="fab fa-linkedin fa-lg"></i>
          </a>
          <a target="_blank" href="https://twitter.com/saifascom">
            <i class="fab fa-twitter fa-lg"></i>
          </a>
        </div>
        © SAIFAS BI
      </div>
    </footer>
  </body>
  <script src="https://kit.fontawesome.com/3ddd0feda7.js" crossorigin="anonymous"></script>
</html>
