<head>

  <link rel="stylesheet" href="/assets/styles/css/index.css" />
  <link rel="stylesheet" href="/assets/styles/css/variables.css" />
  <script src='/scripts/index.js'></script>
  <script src="https://kit.fontawesome.com/3ddd0feda7.js" crossorigin="anonymous"></script>
  <script src="js/lightgallery.min.js"></script>
  <script src="js/lg-thumbnail.min.js"></script>
  <script src="js/lg-fullscreen.min.js"></script>
  <meta http-equiv="Content-Type" content="application/json; charset=utf-8">

  <!-- Load browser tab favicon -->
  <link rel="shortcut icon" href="/assets/graphics/domain/saifas-bi/fav-icons/saifas-brand-logo-star-theme-blue-black-256px-256px.ico">
  <link type="text/css" rel="stylesheet" href="css/lightgallery.css" />

</head>
