<div class="custom-visual__card">
  <div class="card__top-section">
    <div class="top-section__icon">
      <img src="{{ post.image }}" alt="">
    </div>
    <div class="top-section__title">
      {{ post.title }}
      <div class="top-section__description">
        <img src="/assets/graphics/powerbi-icon.png" alt="">
        PowerBI visual
      </div>
    </div>
  </div>
  <div class="main-section">
    <div class="main-section__description">
      {{ post.description }}
    </div>
  </div>
  <div class="cards-section">
    <a target="_blank" class="btn" href="{{ post.link }}">Issues</a>
    <a class="btn" href="{{ post.detailsLink }}">Description</a>
  </div>
</div>
