<footer>

  <address class="footer__contact-us">
    For purchasing any custom visual, please contact: <a style="margin-left: 4px;" href="mailto:bi-support@saifas.org">bi-support@saifas.org</a>
  </address>
  <div class="watermark">
    <div class="socials">
      <a target="_blank" href="https://github.com/saifas-bi">
        <i class="fab fa-github fa-lg"></i>
      </a>
      <a target="_blank" href="https://www.facebook.com/saifascom">
        <i class="fab fa-facebook fa-lg"></i>
      </a>
      <a target="_blank" href="https://www.linkedin.com/company/saifas/">
        <i class="fab fa-linkedin fa-lg"></i>
      </a>
      <a target="_blank" href="https://twitter.com/saifascom">
        <i class="fab fa-twitter fa-lg"></i>
      </a>
    </div>
    © SAIFAS BI
  </div>

</footer>
