<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include page-base-assets.html %}

  {% include page-preloader.html %}

  <!-- Instance variables for include "powerbi/custom-visual/canvas" -->

  {% assign page_name = page.title %}

  {% capture title %}
    {{ site.data.powerbi.custom-visuals.[page_name].detailed.title }}
  {% endcapture %}

  {% capture currentCanvasParentArrayPathUrl %}
    {{ site.data.powerbi.custom-visuals.[page_name].detailed.currentCanvasParentArrayPathUrl }}
  {% endcapture %}

  {% capture currentCanvasParentArrayPathName %}
    {{ site.data.powerbi.custom-visuals.[page_name].detailed.currentCanvasParentArrayPathName }}
  {% endcapture %}

  {% capture pageUrl %}
    {{ site.data.powerbi.custom-visuals.[page_name].detailed.pageUrl }}
  {% endcapture %}

  {% capture currentCanvasPathName %}
    {{ site.data.powerbi.custom-visuals.[page_name].detailed.currentCanvasPathName }}
  {% endcapture %}

  {% capture imageUrl %}
    {{ site.data.powerbi.custom-visuals.[page_name].detailed.imageUrl }}
  {% endcapture %}

  {% capture cost %}
    {{ site.data.powerbi.custom-visuals.[page_name].detailed.cost }}
  {% endcapture %}

  {% capture mainFeaturesDescription %}
    {{ site.data.powerbi.custom-visuals.[page_name].detailed.mainFeaturesDescription }}
  {% endcapture %}

  {% capture mostPopularUseCasesDescription %}
    {{ site.data.powerbi.custom-visuals.[page_name].detailed.mostPopularUseCasesDescription }}
  {% endcapture %}

  <!-- End -->

  <title>
    {{ title }}
  </title>

  <body>

    <header>
      {% include page-header-logo.html %}
      {% include page-header-path-item.html link=currentCanvasParentArrayPathUrl pageName=currentCanvasParentArrayPathName %}
      {% include page-header-path-item.html link=pageUrl pageName=currentCanvasPathName %}
    </header>

    <main>
      {% include powerbi/custom-visual/canvas.html imageUrl=imageUrl cost=cost mainFeaturesDescription=mainFeaturesDescription mostPopularUseCasesDescription=mostPopularUseCasesDescription %}
    </main>

    {% include page-footer.html %}

  </body>

</html>
