<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include page-base-assets.html %}

  {% include page-preloader.html %}

  <title>
    {{ page.title }}
  </title>

  <body>

  	<header>
      {% include page-header-logo.html %}
      {% include page-header-path-item.html link=page.pageUrl pageName=page.pageName %}
    </header>

	  <main>
      {% include page-headline.html headline=page.headline %}
      <div class="cards__container">
        {{ content }}
      </div>
      <div class="body-separator"></div>
      <div style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; margin-bottom: 20px;">
       <div class="contact-link-container">
         <address class="contact-link-container__link">
           For purchasing any custom visual, please contact: <a style="margin-left: 4px;" href="mailto:bi-support@saifas.org">bi-support@saifas.org</a>
         </address>
       </div>
      </div>
    </main>

    {% include page-footer.html %}

  </body>

</html>
